<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aglypto</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <div class="navbar">
      <div class="logo-container">
        <img src="https://img.icons8.com/cute-clipart/64/000000/bitcoin.png" />
        <h1 class="nav-logo">Aglypto</h1>
      </div>
      <div class="nav-box">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="/accumulation" class="nav-link">Accumulation</a></li>
      </div>
    </div>
    <header>
      <h1>Home</h1>
    </header>

    <div class="table">
      <div class="indicators">
        <p class="first-item item">Timeframe :</p>
        <p class="item item-main">30m</p>
        <p class="item item-main">1h</p>
      </div>
      <div class="header">
        <p class="header-items row first-el">Symbol</p>
        <p class="header-items row row-small">Price</p>
        <p class="header-items row row-small">24h</p>
        <p class="header-items row row-small">30m Vol</p>
        <p class="header-items row row-small">Vol Status</p>
        <p class="header-items row row-small">Vol(%)</p>

        <!-- indicators -->
        <p class="header-items indi-row row">MACD</p>
        <p class="header-items indi-row row">Kumo (Lines / Cloud)</p>
        <p class="header-items indi-row row">RSI</p>

        <p class="header-items indi-row row">MACD</p>
        <p class="header-items indi-row row">Kumo (Lines / Cloud)</p>
        <p class="header-items indi-row row">RSI</p>
      </div>
    </div>
    <footer></footer>
    <script src="/js/home/index.js"></script>
  </body>
</html>
